body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5% 0 5%;
}


/*header*/


header {
   display:flex;
   flex-basis:100%;
}

.header_photo {
    background-color: #4FC3F7;

    text-align: center;
    padding: 20px 0 0 0;
    flex-basis: 26%;
    min-width:355px;
}

.nom {
    margin-left: 50px;
}

.photo 
{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}

.prenom {
    color: #4FC3F7;
}

.texte_underline {
    text-decoration: underline #4FC3F7;
}


/*aside*/


aside {
    background-color: #4FC3F7;
    flex-basis: 26%;
    padding-bottom: 15px;
    min-width: 355px;
}

.titre_aside {
    background-color: #424242;
    color: #4FC3F7;
    text-align: center;
    padding: 5px;
}

.texte_aside {
    padding-left: 20px;
    padding-right: 20px;
    text-align:justify;
}

.icon {
    display: flex;
    text-align: center;
    font-size: 25px;
    padding-left: 0;
    padding-right: 40px;
}

.border_icon {
    display: flex;
    justify-content:center;
    align-items:center;
    width : 50px;
    height : 50px;
    border:2px solid black;
    border-radius:50%;
    margin: auto auto auto 25px ;
}


section {
     padding-left: 40px;
     padding-right:0;
     flex-basis:66%;
}


/*formation*/

.fa-user-graduate {
       color: #4FC3F7;
       padding-right:20px;   
}

.align {
    display: flex;
}

.alignement_formation {
    width: 50%;
    min-width:200px;
    padding-bottom: 40px;
    border-top: 3px solid #4FC3F7;
}

.contenu_formation_gauche {
    height: 33%;
    display: flex;  
}

.contenu_formation-droite {
    height: auto;
}

.puce {
    padding: 18px 10px 10px 10px;
}

/*experience*/


.fa-briefcase {
    color: #4FC3F7;
    padding-right: 20px;
 
}

.align_experience {
    display: flex;
}

.alignement_experience {
    width: 50%;
    padding-bottom: 40px;
    border-top: 3px solid #4FC3F7;
}

.contenu_experience1 {
    height: 30%;
    display: flex;
}

.contenu_experience2 {
    height: 55%;
    display: flex;
}

.contenu_experience3 {
    height: 15%;
    display: flex;
}

.contenu_experience_droite {
    height: auto;
}

/*recommandation*/


.fa-pen-nib {
    color: #4FC3F7;
    padding-right: 20px;
}

.align_recommandation {
    display: flex;
 }

.alignement_recommandation {
    width: 50%;
    padding-bottom: 40px;
    border-top: 3px solid #4FC3F7;
}

.fa-dot-circle {
    color: #4FC3F7;
}

.fa-circle {
    color: #4FC3F7;
}


@media screen and (max-width: 1410px){
   
body {
    margin: 0;
}

section {
    width:auto;
}

aside {
    padding-bottom: 15px;
    min-width: 250px;
}

.header_photo {
    min-width: 250px;
}
}

@media screen and (max-width: 1000px) {
 
body{
    flex-direction:column;
}

header {
    flex-direction: column;
    background-color: #4FC3F7;
}

.prenom {
    color: black;
}

section{
    padding:0px;
}

h1, h2, h3 {
text-align: center;
}
  
aside{
    order:1;
}
}
