body {
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-wrap:wrap;
    margin: 0 5% 0 5%;
   
}


/*header*/


header {
   display:flex;
   flex-basis:100%;
   
}

.photo {
    background-color: #4FC3F7;
    padding: 100px;
    text-align: center;
    padding: 20px 0 0 0;
     flex-basis: 26%;
    min-width:355px;
}

.nom {
    margin-left: 50px;
 
}

.photo_cv 
{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}

.prenom {
    color: #4FC3F7;
}

.texte_underline {
    text-decoration: underline #4FC3F7;
}


/*aside*/


aside {
    background-color: #4FC3F7;
    flex-basis: 26%;
    padding-bottom: 15px;
    min-width: 355px;
}

.texte_aside {
    padding-left: 20px;
    padding-right: 20px;
    text-align:justify;
   
}

.titre_aside {
    background-color: #424242;
    color: #4FC3F7;
    text-align: center;
    padding: 5px;
     }

.icon {
    display: flex;
    text-align: center;
    font-size: 25px;
    padding-left: 0;
    padding-right: 40px;
}

.border_icon {
 
    display: flex;
    justify-content:center;
    align-items:center;
    width : 50px;
    height : 50px;
    border:2px solid black;
    border-radius:50%;
    margin: auto auto auto 25px ;
    }

/*section*/


section {
    flex-basis: 65%;
    padding: 0 40px 0 40px;
}


/*formation*/


.fa-user-graduate {
       color: #4FC3F7;
       padding-right:20px;
    }

.align{
    display:flex;
   
}

.alignement_formation1 {
    width: 50%;
    padding-bottom: 40px;
    border-top: 3px solid #4FC3F7;
}

.contenu_formationg {
    height: 33%;
    display: flex;
    
}

.contenu_formationd {
    height: auto;
   
}

.puce {
    padding: 18px 10px 10px 10px;
}

/*experience*/

.fa-briefcase {
    color: #4FC3F7;
    padding-right: 20px;
}

.align_experience {
    display: flex;
}

.alignement_experience {
    width: 50%;
    padding-bottom: 40px;
    border-top: 3px solid #4FC3F7;
}

.contenu_experience1 {
    height: 30%;
    display: flex;
    }

.contenu_experience1bis {
    height: auto;
    }

.contenu_experience2 {
    height: 55%;
    display: flex;
    }

.contenu_experience2bis {
    height: auto;
    }

.contenu_experience3 {
    height: 15%;
    display: flex;
    }

.contenu_experience3bis {
    height: auto;
    
}


/*recommandation*/


.fa-pen-nib {
    color: #4FC3F7;
    padding-right: 20px;
}

.align_recommandation {
    display: flex;
}

.alignement_recommandation {
    width: 50%;
    padding-bottom: 40px;
    border-top: 3px solid #4FC3F7;
}

.fa-dot-circle {
    color: #4FC3F7;
}

.fa-circle {
    color: #4FC3F7;
}


@media screen and (max-width: 1024px){
body{
    margin:0;
}

 }


@media screen and (max-width: 600px) {
           
            }

@media screen and (max-width: 320px) 
    {

    }


